{% if site.about %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>About</h2>
            </li>
        </ul>
    </nav> 
    {% include about.html %}
{% endif %}

{% if site.publications %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Publications</h2>
            </li>
        </ul>
    </nav>
    {% include publications.html %}
{% endif %}

{% if site.awardgrants %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Awards and Grants</h2>
            </li>
        </ul>
    </nav>
    {% include awardgrants.html %}
{% endif %}

{% if site.educations %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Educations</h2>
            </li>
        </ul>
    </nav>
    {% include educations.html %}
{% endif %}

{% if site.projects %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Projects</h2>
            </li>
        </ul>
    </nav>
    {% include projects.html %}
{% endif %}

{% if site.skills %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Skills</h2>
            </li>
        </ul>
    </nav>
    {% include skills.html %}
{% endif %}


